VCCAUX = 3.3;

timespec ts_sys_clk_pin = period sys_clk_pin 120 MHz;
NET clk tnm_net = sys_clk_pin | loc = T10 | IOSTANDARD = LVCMOS33; ## Has been switched with ebi addr pin T13

############################
## SRAM bus 1 constraints ##
############################


############
## BANK 3 ##
############

############################
## SRAM bus 2 constraints ##
############################



############
## BANK 3 ##
############

#########################
## EBI bus constraints ##
#########################

net ebi_control_in_read_enable_n loc = P12 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_write_enable_n loc = U13 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_chip_select_sram_n loc = M11 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_chip_select_fpga_n loc = V13 | IOSTANDARD = LVCMOS33 ;

#net ebi_control_in_address(25) loc = R11;
#net ebi_control_in_address(24) loc = T11;
#net ebi_control_in_address(23) loc = T12;
#net ebi_control_in_address(22) loc = V12;
#net ebi_control_in_address(21) loc = N10;
#net ebi_control_in_address(20) loc = P11;
net ebi_control_in_address(19) loc = M10 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(18) loc = N10 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(17) loc = U11 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(16) loc = V11 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(15) loc = R10 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(14) loc = T13 | IOSTANDARD = LVCMOS33 ; ## Has been switched with clk pin T10
net ebi_control_in_address(13) loc = U10 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(12) loc = V10 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(11) loc = R8 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(10) loc = T8 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(9) loc = T9 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(8) loc = V9 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(7) loc = M8 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(6) loc = N8 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(5) loc = U8 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(4) loc = V8 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(3) loc = U7 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(2) loc = V7 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(1) loc = N7 | IOSTANDARD = LVCMOS33 ;
net ebi_control_in_address(0) loc = P8 | IOSTANDARD = LVCMOS33 ;

net mc_frame_buffer_select_in loc = T11 | IOSTANDARD = LVCMOS33 ;  #EBI addr 24
net mc_kernel_complete_out loc = R11 | IOSTANDARD = LVCMOS33 ;  #EBI addr 25


net ebi_data_inout(15) loc = V6 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(14) loc = R7 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(13) loc = T7 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(12) loc = N6 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(11) loc = P7 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(10) loc = R5 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(9) loc = T5 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(8) loc = U5 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(7) loc = V5 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(6) loc = R3 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(5) loc = T3 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(4) loc = T4 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(3) loc = V4 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(2) loc = N5 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(1) loc = P6 | IOSTANDARD = LVCMOS33 ;
net ebi_data_inout(0) loc = U3 | IOSTANDARD = LVCMOS33 ;


# ROUTING OUT CLK_SYS FOR DEBUGGING AND FUN :D
#net clk_sys_out loc = R15; 
# IT WAS NO FUN :(


# BackupGPIO0 R15
# BackupGPIO0 T15
# BackupGPIO0 U16
# BackupGPIO0 V16


############
## BANK 0 ##
############

######################
## HDMI constraints ##
######################

net hdmi_connector_out_channel2_p loc = B2 | IOSTANDARD = TMDS_33 ;
net hdmi_connector_out_channel2_n loc = A2 | IOSTANDARD = TMDS_33 ;

net hdmi_connector_out_channel1_p loc = D6 | IOSTANDARD = TMDS_33 ;
net hdmi_connector_out_channel1_n loc = C6 | IOSTANDARD = TMDS_33 ;

net hdmi_connector_out_channel0_p loc = B3 | IOSTANDARD = TMDS_33 ;
net hdmi_connector_out_channel0_n loc = A3 | IOSTANDARD = TMDS_33 ;

net hdmi_connector_out_clock_p loc = B4 | IOSTANDARD = TMDS_33 ;
net hdmi_connector_out_clock_n loc = A4 | IOSTANDARD = TMDS_33 ;


#p17 p18 LEDs
