VCCAUX = 3.3;

TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 66.6 MHz;
Net clk TNM_NET = sys_clk_pin  |  LOC=L12 | IOSTANDARD = LVCMOS33;

#net reset loc = T18;
#net clk_sys_out loc = A5;

net led_1_out loc = J13  | IOSTANDARD = LVCMOS33;

############
## BANK 3 ##
############

#########################
## EBI bus constraints ##
#########################

net ebi_control_in_read_enable_n loc = A3 | IOSTANDARD = LVCMOS33;
net ebi_control_in_write_enable_n loc = B3 | IOSTANDARD = LVCMOS33;
net ebi_control_in_chip_select_sram_n loc = B4 | IOSTANDARD = LVCMOS33;
net ebi_control_in_chip_select_fpga_n loc = A4 | IOSTANDARD = LVCMOS33;

#net ebi_control_in_address(25) loc = R11;
#net ebi_control_in_address(24) loc = T11;
#net ebi_control_in_address(23) loc = T12;
#net ebi_control_in_address(22) loc = V12;
#net ebi_control_in_address(21) loc = N10;
#net ebi_control_in_address(20) loc = P11;
#net ebi_control_in_address(19) loc = M10;
#net ebi_control_in_address(18) loc = N10;
#net ebi_control_in_address(17) loc = U11;
#net ebi_control_in_address(16) loc = V11;
net ebi_control_in_address(15) loc = t5 | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(14) loc = r5 | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(13) loc = v4 | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(12) loc = t4 | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(11) loc = v5 | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(10) loc = u5 | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(9) loc = p6  | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(8) loc = n5  | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(7) loc = p7  | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(6) loc = n6  | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(5) loc = p8  | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(4) loc = n7  | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(3) loc = n8  | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(2) loc = m8  | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(1) loc = n9  | IOSTANDARD = LVCMOS33;
net ebi_control_in_address(0) loc = m10  | IOSTANDARD = LVCMOS33;

#net mc_frame_buffer_select_in loc = T11;  #EBI addr 24
net mc_kernel_complete_out loc = C5;  #EBI addr 25


net ebi_data_inout(15) loc = F18 | IOSTANDARD = LVCMOS33;
net ebi_data_inout(14) loc = E18 | IOSTANDARD = LVCMOS33;
net ebi_data_inout(13) loc = F17 | IOSTANDARD = LVCMOS33;
net ebi_data_inout(12) loc = E16 | IOSTANDARD = LVCMOS33;
net ebi_data_inout(11) loc = K13 | IOSTANDARD = LVCMOS33;
net ebi_data_inout(10) loc = G13 | IOSTANDARD = LVCMOS33;
net ebi_data_inout(9) loc = K12  | IOSTANDARD = LVCMOS33;
net ebi_data_inout(8) loc = H12  | IOSTANDARD = LVCMOS33;
net ebi_data_inout(7) loc = D18  | IOSTANDARD = LVCMOS33;
net ebi_data_inout(6) loc = C18  | IOSTANDARD = LVCMOS33;
net ebi_data_inout(5) loc = D17  | IOSTANDARD = LVCMOS33;
net ebi_data_inout(4) loc = C17  | IOSTANDARD = LVCMOS33;
net ebi_data_inout(3) loc = G14  | IOSTANDARD = LVCMOS33;
net ebi_data_inout(2) loc = F16  | IOSTANDARD = LVCMOS33;
net ebi_data_inout(1) loc = F14  | IOSTANDARD = LVCMOS33;
net ebi_data_inout(0) loc = F15  | IOSTANDARD = LVCMOS33;

# ROUTING OUT CLK_SYS FOR DEBUGGING AND FUN :D
#net clk_sys_out loc = R15; 
# IT WAS NO FUN :(


# BackupGPIO0 R15
# BackupGPIO0 T15
# BackupGPIO0 U16
# BackupGPIO0 V16


############
## BANK 0 ##
############

######################
## HDMI constraints ##
######################

net hdmi_connector_out_channel0_p loc = T6 | IOSTANDARD = TMDS_33 ;
net hdmi_connector_out_channel0_n loc = V6 | IOSTANDARD = TMDS_33 ;

net hdmi_connector_out_channel1_p loc = U7 | IOSTANDARD = TMDS_33 ;
net hdmi_connector_out_channel1_n loc = V7 | IOSTANDARD = TMDS_33 ;

net hdmi_connector_out_channel2_p loc = U8 | IOSTANDARD = TMDS_33 ;
net hdmi_connector_out_channel2_n loc = V8 | IOSTANDARD = TMDS_33 ;

net hdmi_connector_out_clock_p loc = R7 | IOSTANDARD = TMDS_33 ;
net hdmi_connector_out_clock_n loc = T7 | IOSTANDARD = TMDS_33 ;

#Copied from working LX16
#NET "TMDS(0)"   LOC = "T6" | IOSTANDARD = TMDS_33 ; # Blue
#NET "TMDSB(0)"  LOC = "V6" | IOSTANDARD = TMDS_33 ;
#NET "TMDS(1)"   LOC = "U7" | IOSTANDARD = TMDS_33 ; # Red
#NET "TMDSB(1)"  LOC = "V7" | IOSTANDARD = TMDS_33 ;
#NET "TMDS(2)"   LOC = "U8" | IOSTANDARD = TMDS_33 ; # Green
#NET "TMDSB(2)"  LOC = "V8" | IOSTANDARD = TMDS_33 ;
#NET "TMDS(3)"   LOC = "R7" | IOSTANDARD = TMDS_33 ; # Clock
#NET "TMDSB(3)"  LOC = "T7" | IOSTANDARD = TMDS_33 ;

#p17 p18 LEDs
